<div class="list-container" *ngIf="!loading; else loading_content">
    <h3 class="title">{{ title }}</h3>
    <ng-container *ngIf="!inError; else error_content">
        <div class="list">
            @for (actor of actors; track $index) {
                <div class="movie">
                    <app-actor-card [actor]="actor" />
                </div>
            }
        </div>
    </ng-container>
    <ng-template #error_content>
        <div class="error">
            <h3>Falha ao buscar os dados :(</h3>
        </div>
    </ng-template>
</div>
<ng-template #loading_content>
    <div class="loading">
        <mat-spinner [diameter]="50" />
    </div>
</ng-template>
