
@use './variables'
@import '@angular/material/prebuilt-themes/purple-green.css'

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: "Mukta", sans-serif

html
    font-size: 62.5%

body
    background-color: variables.$background-primary

h1, h2, h3, h4, h5, h6, p, span, b, a, li
    color: variables.$color-primary

.mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle, .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic
    stroke: variables.$color-orange !important
