/* You can add global styles to this file, and also import other style files */
@use './variables'

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: "Mukta", sans-serif

html
    font-size: 62.5%

body
    background-color: variables.$background-primary

h1, h2, h3, h4, h5, h6, p, span, b
    color: variables.$color-primary
